<h2>Sign in</h2>

<%=
  form_for :user, '/sign_in' do
    div do
      label :username
      text_field :username
    end

    div do
      label :password
      password_field :password
    end

    div class: 'controls' do
      submit 'Sign in'
    end
  end
%>
