<h2>Register</h2>

<%=
  form_for :user, '/registrations' do
    div class: 'input' do
      label :username
      text_field :username
    end

    div class: 'input' do
      label :email
      text_field :email
    end

    div class: 'input' do
      label :password
      password_field :password
    end

    div class: 'input' do
      label :password_confirmation
      password_field :password_confirmation
    end

    div class: 'controls' do
      submit 'Register'
    end
  end
%>
