<h2>Create a new page</h2>

<%= form_for :page, routes.pages_path do
  div do
    label :title
    text_field :title, value: page.title
  end

  div do
    label :content
    text_area :content
  end

  div class: 'controls' do
    submit 'Submit'
  end
end %>
