<!doctype HTML>
<html>
  <head>
    <title>Web</title>
    <link href="/stylesheets/picnic.min.css" type="text/css" rel="stylesheet" />
    <link href="/stylesheets/plugins.min.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <div class="row">
      <div class="fourth">
        Tu sidebar
      </div>
      <div>
        <%= yield %>
      </div>
    </div>

    <div class="row footer">
      <% if current_user %>
        <%= current_user.username %>
      <% end %>
    </div>
  </body>
</html>
